html {
    font-family: 'Lato', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6rem;
    text-align: justify;
    background-color: #EAEDED;
    
}

header {
    background-color: black;
    color: white;
    padding: 1.5rem 0;
    border: 0 0 1px 0;
    position: sticky;
    top: 0;
}
    header a {
        text-decoration: none;
        color: white;
        font-size: 1.1em;
    }

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}


.Logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo-nav-container img {
    width: 7rem;
    padding: 0;

}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .navigation ul li {
        display: inline-block;
    }

        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 30px;
        }


            .navigation ul li a:hover {
                background-color: #FC9708 ;
            }


.section {
    margin: 3rem 0;
    width: 1342px;
    height: 1250px;
    background-image: url("Img/Portada\ 1.0.jpg");
    background-size: 100% 55%;
    background-repeat: no-repeat;
    
}
    
.flexbox {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 2rem 11rem;
  }
  
  .animacion {
    width: 15ch;
    animation: typing 1s steps(22), blink .4s step-end infinite reverse;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2.2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


span { 
    color: #FC9708;
}

.boxflex {
    display: flex;
    margin-left: 715px;
    padding:0px;
}

.boxflex_texto{
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: right;
    margin-left: 700px;
    padding: 0;
}

    .boxflex_texto p {
        line-height: 1rem;
        font-size: 1.25em;
        text-align: justify;
        color: black;
        padding: 0;
    }   
.wave {
    margin-top: 3.9rem;
    background-position: 1200px 1235px;
    overflow: hidden;
}

.caja_degradado{
    height: 3rem;
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
    .caja_degradado h1 {
      padding: 0 0 0 15rem;
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
    }
  
  .texto_degradado {
    color: transparent;
    background: conic-gradient(
      #1C2833 12%, 
      #5B2C6F 12%, #5DADE2 33%, 
      #E7FBBE 33%, #58D68D 55%, 
      #5B2C6F 55%, #5B2C6F 70%, 
      #F1C40F 70%, #E74C3C 87%, 
      #E74C3C 87%);                                                       
    background-size: 50%;
    background-clip: text;  
    -webkit-background-clip: text;
  
    animation: ida 0.5s ease forwards;
  
    cursor: pointer;
  }
  
  .texto_degradado:hover {
    animation: vuelta 0.5s ease forwards;
  }
  
  @keyframes vuelta {
    0% {
      background-size: 50%;
      background-position: 0 0;
    }
    20% {
      background-size: 55%;
      background-position: 0 1em;
    }
    100% {
      background-size: 325%;
      background-position: -10em -4em;
    }
  }
  
  @keyframes ida {
    0% {
      background-size: 325%;
      background-position: -10em -4em;
    }
    20% {
      background-size: 55%;
      background-position: 0 1em;
    }
    100% {
      background-size: 50%;
      background-position: 0 0;
    }
  }


.flexpadre {
    width:95%;
    height: 400px;
    max-width: 1100px;
    margin: 0 auto;
}

    .cajaflex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

        .cajaflex_texto{
            font-size: 1.25em;
            width: 700px;
        }

        .cajaflex_imagen {
            display: inline-block;
        }

            .cajaflex_imagen img {
                width: 300px;
            }

.caja_hacemos_container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}

    .caja_hacemos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .caja_hacemos_img {
            display: inline-block;
        }

            .caja_hacemos_img img {
                width: 300px;
            }

        .caja_hacemos_texto {
            font-size: 1.2em;
            width: 700px;
        }    

.caja_hacemos_degradado {
    height: 3rem;
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

    .caja_hacemos_texto_degradado {
        padding: 0 0 0 27rem;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
    }

    .caja_hacemos_texto_degradado {
        color: transparent;
        background: conic-gradient(
          #EB984E 12%, 
          #2C3E50 12%, 
          #2C3E50  33%, 
          #E74C3C 55%, 
          #5B2C6F 70%, 
          #3498DB 87%);                                                       
        background-size: 50%;
        background-clip: text;  
        -webkit-background-clip: text;
      
        animation: ida_1 0.5s ease forwards;
      
        cursor: pointer;
      }
      
      .caja_hacemos_texto_degradado:hover {
        animation: vuelta_1 0.5s ease forwards;
      }
      
      @keyframes vuelta_1 {
        0% {
          background-size: 50%;
          background-position: 0 0;
        }
        20% {
          background-size: 55%;
          background-position: 0 1em;
        }
        100% {
          background-size: 325%;
          background-position: -10em -4em;
        }
      }
      
      @keyframes ida_1 {
        0% {
          background-size: 325%;
          background-position: -10em -4em;
        }
        20% {
          background-size: 55%;
          background-position: 0 1em;
        }
        100% {
          background-size: 50%;
          background-position: 0 0;
        }
      }

footer {
  padding: 0;
}
    footer img {
      width: 250px;
      padding: 2rem 0 0 2rem;
    }

    .caja-footer {
      background-color: #233040;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

      .caja-footer-div {
        color: white;
        display: inline-block;
        padding: 0.5rem 1rem;
      }
      .caja-footer-div a {
        color: #EAEDED;
      }

      .quienes {
        padding: 0 12rem;
        text-align: center;
      }
      .Siguenos {
        text-align: center;
        justify-content: center;
        padding: 20px 24px;
      }